.Title {
    min-height: 190px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 10px;
    @media( max-width: 768px ){
        min-height: 100px;        
    }
    h1 {
        font-size: 100px;
        color: #ffffff;
        line-height: 70px;
        text-transform: uppercase;
        padding: 0 30px;
        margin: 0;
        @media( max-width: 768px ){
            font-size: 50px;   
            line-height: 38px;     
        }
    }
}

article {
    background-color: #fff;
    padding: 30px 30px;
    margin-bottom: 10px;
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @media( max-width: 480px ){
            display: block;     
        }
        img {
            width: 60px;
            margin-right: 15px;
            @media( max-width: 480px ){
                width: 40px;  
            }
        }
        h3 {
            color: #1A1A1A;
            font-size: 20px;
        }
        p {
            font-size: 16px;
            color: #999999;
        }
    }
    .content {
        p {
            font-size: 18px;
            color: #1A1A1A;
        }
    }
    .footer {
        padding: 5px 0px;
        background: transparent;
        a {
            border: 1px solid #B3B3B3;
            padding: 5px 10px;
            color: $primary-color;
            font-size: 21px;
            .fa-comment {
                color: $primary-color;
                margin-right: 10px;
            }
            .fa-chevron-right {
                color: $yellow;
                margin-left: 10px;
                transition: all 0.3s;
            }
            &:hover {
                .fa-chevron-right  {
                    transform: translateX(5px)
                }
            }
        }
    }
}

.pagination{
    .back {
        display: inline-block;
        background: #000000;
        padding: 10px 20px;
        transition: all 0.3s;
        color: #fff;
        font-size: 20px;
        i {
            transition: all 0.3s;
        }
        &:hover {
            i {
                transform: translateX(-5px);
            }
        }
        @media( max-width: 480px ){
            font-size: 16px;    
            padding: 5px 15px;    
        }
    }
    ul {
        li {
            display: inline-block;
            a {
                color: $primary-color;
                font-family: $primary-font;
                font-size: 25px;
                
            }
            &:after {
                content: "-";
                margin: 0 10px;
                font-size: 25px;
                color: $primary-color;
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }
    @media( max-width: 768px ){
        padding-top: 20px;
        justify-content: space-between;
    }
    @media( max-width: 480px ){
        display: block;
        text-align: left;
        padding-top: 20px; 
    }
}